<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shencai.eil.survey.mapper.SurveyItemMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.shencai.eil.survey.entity.SurveyItem">
        <id column="id" property="id" />
        <result column="target_weight_code" property="targetWeightCode" />
        <result column="data_source" property="dataSource" />
        <result column="importance" property="importance" />
        <result column="cost" property="cost" />
        <result column="description" property="description" />
        <result column="has_attachment" property="hasAttachment" />
        <result column="code" property="code" />
        <result column="sort_num" property="sortNum" />
        <result column="name" property="name" />
        <result column="value_type" property="valueType" />
        <result column="unit_code" property="unitCode" />
        <result column="type" property="type" />
        <result column="parent_id" property="parentId" />
        <result column="one_for_one_parent" property="oneForOneParent" />
        <result column="isleaf" property="isleaf" />
        <result column="value_required" property="valueRequired" />
        <result column="need_selected" property="needSelected" />
        <result column="dependent" property="dependent" />
        <result column="dependent_result_code" property="dependentResultCode" />
        <result column="remark" property="remark" />
        <result column="create_user_id" property="createUserId" />
        <result column="create_time" property="createTime" />
        <result column="update_user_id" property="updateUserId" />
        <result column="update_time" property="updateTime" />
        <result column="valid" property="valid" />
    </resultMap>

    <select id="listSurveyItem"
            parameterType="com.shencai.eil.survey.model.SurveyItemQueryParam"
            resultType="com.shencai.eil.survey.model.SurveyItemVO">
        select
            si.id,
            si.target_weight_code targetWeightCode,
            sic.target_bis_code targetBisCode,
            si.need_selected needSelected
        from survey_item si
            left join survey_item_category sic on sic.survey_item_id = si.id and sic.valid = 1
        where si.valid = 1
        <if test="type != null and type != ''">
            and si.type = #{type}
        </if>
    </select>
</mapper>
