<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shencai.eil.survey.mapper.SurveyItemOptionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.shencai.eil.survey.entity.SurveyItemOption">
        <id column="id" property="id" />
        <result column="code" property="code" />
        <result column="option_value" property="optionValue" />
        <result column="source_id" property="sourceId" />
        <result column="source_type" property="sourceType" />
        <result column="remark" property="remark" />
        <result column="create_user_id" property="createUserId" />
        <result column="create_time" property="createTime" />
        <result column="update_user_id" property="updateUserId" />
        <result column="update_time" property="updateTime" />
        <result column="valid" property="valid" />
    </resultMap>

    <select id="listSurveyItemOption"
            parameterType="com.shencai.eil.survey.model.SurveyItemOptionQueryParam"
            resultType="com.shencai.eil.survey.model.SurveyItemOptionVO">
        select
            sio.code,
            sio.option_value optionValue
        from survey_item_mapping_option simo
        INNER JOIN survey_item_option sio on simo.option_id = sio.id and sio.valid = 1
        where simo.valid = 1
        <if test="surveyItemId != null and surveyItemId != ''">
            and simo.survey_item_id = #{surveyItemId}
        </if>
        order by sio.code
    </select>
</mapper>
