<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shencai.eil.grading.mapper.RiskMaterialParamValueMapper">

    <resultMap id="BaseResultMap" type="com.shencai.eil.grading.entity.RiskMaterialParamValue">
        <id column="id" property="id" />
        <result column="param_id" property="paramId" />
        <result column="material_id" property="materialId" />
        <result column="value" property="value" />
        <result column="remark" property="remark" />
        <result column="create_user_id" property="createUserId" />
        <result column="create_time" property="createTime" />
        <result column="update_user_id" property="updateUserId" />
        <result column="update_time" property="updateTime" />
        <result column="valid" property="valid" />
    </resultMap>

    <select id="getParamValue" resultType="string"
            parameterType="com.shencai.eil.grading.model.RiskMaterialParamValueQueryParam">
        select
        rmpv.value
        from risk_material_param_value rmpv
        inner join risk_material rm on rmpv.material_id=rm.id
        <if test="materialName != null and materialName != ''">
            and rm.chinese_generic_name = #{materialName}
        </if>
        and rm.valid=1
        inner join param on param.id=rmpv.param_id
        <if test="paramCode != null and paramCode != ''">
            and param.code = #{paramCode}
        </if>
        and param.valid=1
        where
        rmpv.valid=1
    </select>
    <select id="listPollutantParamValue"
            parameterType="com.shencai.eil.grading.model.RiskMaterialParamValueQueryParam"
            resultType="com.shencai.eil.grading.model.RiskMaterialParamValueVO">
        select
            ppv.pollutant_name materialName,
            ppv.param_value paramValue,
            p.code paramCode,
            p.name paramName
        from pollutant_param_value ppv
            inner join param p on ppv.param_id = p.id and p.valid = 1
            inner join template_mapping_param tmp on tmp.param_id = p.id and tmp.valid = 1
            inner join param_template pt on pt.id = tmp.template_id and pt.valid = 1 and pt.code = #{templateCode}
        where ppv.valid = 1
        <if test="materialName != null and materialName != ''">
          and ppv.pollutant_name = #{materialName}
        </if>
        <if test="materialNameList != null and materialNameList.size > 0">
            and ppv.pollutant_name in
            <foreach collection="materialNameList" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
    </select>

    <select id="listRiskMaterialParamValue"
            parameterType="com.shencai.eil.grading.model.RiskMaterialParamValueQueryParam"
            resultType="com.shencai.eil.grading.model.RiskMaterialParamValueVO">
        select
        rm.chinese_generic_name materialName,
        rmpv.`value` paramValue,
        p.code paramCode,
        p.name paramName
        from risk_material rm
        inner join risk_material_param_value rmpv on rmpv.material_id = rm.id and rmpv.valid = 1
        inner join param p on rmpv.param_id = p.id and p.valid = 1
        inner join template_mapping_param tmp on tmp.param_id = p.id and tmp.valid = 1
        inner join param_template pt on pt.id = tmp.template_id and pt.valid = 1 and pt.code = #{templateCode}
        where rm.valid = 1
        <if test="materialName != null and materialName != ''">
            and chinese_generic_name = #{materialName}
        </if>
        <if test="materialNameList != null and materialNameList.size > 0">
            and chinese_generic_name in
            <foreach collection="materialNameList" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
    </select>

    <resultMap id="riskMaterialMap" type="com.shencai.eil.assessment.model.RiskMaterialVO">
        <result property="materialName" column="materialName"/>
        <collection property="paramList" ofType="com.shencai.eil.assessment.model.RiskMaterialParamVO">
            <result property="paramCode" column="paramCode"/>
            <result property="value" column="value"/>
        </collection>
    </resultMap>
    <select id="listRiskMaterial"
            parameterType="com.shencai.eil.assessment.model.RiskMaterialQueryParam"
            resultMap="riskMaterialMap">
        select ppv.pollutant_name materialName, ppv.param_value `value`, p.code paramCode
        from pollutant_param_value ppv
        left join param p on p.id = ppv.param_id and p.valid = 1
        inner join template_mapping_param tmp on tmp.param_id = p.id and tmp.valid = 1
        inner join param_template_category ptc on ptc.param_template_id = tmp.template_id and ptc.valid = 1 and ptc.type = #{templateCategoryCode}
        where ppv.valid = 1
        <if test="materialNameList != null and materialNameList.size > 0">
            and ppv.pollutant_name in
            <foreach collection="materialNameList" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
    </select>
</mapper>
