<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shencai.eil.grading.mapper.TargetWeightMapper">

    <resultMap id="BaseResultMap" type="com.shencai.eil.grading.entity.TargetWeight">
        <id column="id" property="id"/>
        <result column="code" property="code"/>
        <result column="name" property="name"/>
        <result column="weight" property="weight"/>
        <result column="type" property="type"/>
        <result column="parent_id" property="parentId"/>
        <result column="create_time" property="createTime"/>
        <result column="update_user_id" property="updateUserId"/>
        <result column="update_time" property="updateTime"/>
        <result column="valid" property="valid"/>
        <result column="create_user_id" property="createUserId"/>
    </resultMap>

    <select id="listAllTarget" resultType="com.shencai.eil.grading.model.TargetResultVO"
            parameterType="com.shencai.eil.grading.model.EntRiskAssessResultQueryParam">
        select
        tw.id targetId,
        tw.parent_id parentId,
        tw.code targetCode,
        tw.name targetName,
        tw.type targetType,
        erar.assess_value targetResult
        from target_weight tw
        left join ent_risk_assess_result erar on
        (tw.id=erar.target_weight_id and erar.ent_id = #{enterpriseId} and tw.valid=1)
        where
        <if test="targetTypeList != null and targetTypeList.size > 0">
            tw.type in
            <foreach collection="targetTypeList" item="item" open="(" separator=","
                     close=")">
                #{item}
            </foreach>
            and
        </if>
        tw.valid=1 and tw.visible=1
        ORDER by tw.code
    </select>
    <select id="listCodeTypeAndAssessResult" resultType="com.shencai.eil.grading.model.TargetResultVO">
        SELECT
            t.code targetCode,
            t.type targetType,
            r.assess_value targetResult
        FROM
            target_weight t
        LEFT JOIN ent_risk_assess_result r ON t.id = r.target_weight_id AND ent_id = #{entId} and t.valid =1 and r.valid =1
        where t.weight is not null
    </select>
    <select id="lisTargetWeightTypeAndWight" resultType="com.shencai.eil.grading.model.TargetResultVO">
        select t.code targetCode,t.type targetType,weight valueResult  from target_weight where valid = 1
        <if test="code != null and code != ''">
            and code = #{code}
        </if>

    </select>
    <select id="getAllCodeAndWight" resultType="com.shencai.eil.grading.model.CodeAndValueUseDouble">
        select code codeResult ,weight valueResult from target_weight where valid = 1
    </select>


</mapper>
