<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shencai.eil.policy.mapper.IndustryCategoryMapper">

    <resultMap id="BaseResultMap" type="com.shencai.eil.policy.entity.IndustryCategory">
        <id column="id" property="id" />
        <result column="code" property="code" />
        <result column="name" property="name" />
        <result column="description" property="description" />
        <result column="parent_id" property="parentId" />
        <result column="level" property="level" />
        <result column="remark" property="remark" />
        <result column="create_user_id" property="createUserId" />
        <result column="create_time" property="createTime" />
        <result column="update_user_id" property="updateUserId" />
        <result column="update_time" property="updateTime" />
        <result column="valid" property="valid" />
        <result column="level_one_id" property="levelOneId" />
        <result column="level_two_id" property="levelTwoId" />
        <result column="level_three_id" property="levelThreeId" />
        <result column="level_four_id" property="levelFourId" />
    </resultMap>

    <select id="listIndustryCategory" resultType="com.shencai.eil.policy.model.IndustryCategoryVO"
            parameterType="com.shencai.eil.policy.model.IndustryCategoryQueryParam">
        select
        id,
        code,
        name,
        level,
        parent_id parentId
        from
        industry_category
        where
        <if test="parentId != null and parentId != ''">
            parent_id = #{parentId} and
        </if>
        valid=1
        order by code
    </select>
</mapper>
