<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shencai.eil.assessment.mapper.AssessGirdMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.shencai.eil.assessment.entity.AssessGird">
        <id column="id" property="id" />
        <result column="ent_id" property="entId" />
        <result column="x" property="x" />
        <result column="y" property="y" />
        <result column="bis_code" property="bisCode" />
        <result column="grid_use_type" property="gridUseType" />
        <result column="water_type" property="waterType" />
        <result column="lon" property="lon" />
        <result column="lat" property="lat" />
        <result column="pop" property="pop" />
        <result column="sensitive_area" property="sensitiveArea" />
        <result column="acreage" property="acreage" />
        <result column="eco_value" property="ecoValue" />
        <result column="sand_rate" property="sandRate" />
        <result column="clay_rate" property="clayRate" />
        <result column="powder_rate" property="powderRate" />
        <result column="fishery_area" property="fisheryArea" />
        <result column="agricultural_area" property="agriculturalArea" />
        <result column="forestry_area" property="forestryArea" />
        <result column="water_quality" property="waterQuality" />
        <result column="remark" property="remark" />
        <result column="create_user_id" property="createUserId" />
        <result column="create_time" property="createTime" />
        <result column="update_user_id" property="updateUserId" />
        <result column="update_time" property="updateTime" />
        <result column="valid" property="valid" />
    </resultMap>

</mapper>
