<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shencai.eil.assessment.mapper.GridConcentrationMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.shencai.eil.assessment.entity.GridConcentration">
        <id column="id" property="id" />
        <result column="grid_id" property="gridId" />
        <result column="info_id" property="infoId" />
        <result column="concentration" property="concentration" />
        <result column="remark" property="remark" />
        <result column="create_user_id" property="createUserId" />
        <result column="create_time" property="createTime" />
        <result column="update_user_id" property="updateUserId" />
        <result column="update_time" property="updateTime" />
        <result column="valid" property="valid" />
    </resultMap>

    <select id="listGridConcentration"
            parameterType="com.shencai.eil.assessment.model.GridConcentrationQueryParam"
            resultType="com.shencai.eil.assessment.model.GridConcentrationVO">
        select
            ag.id gridId,
            edmi.material,
            ag.x,
            ag.y,
            ag.z,
            ag.pop,
            ag.sensitive_area sensitiveArea,
            ag.water_quality waterQuality,
            ag.acreage acreage,
            ag.eco_value ecoValue,
            ag.fishery_area fisheryArea,
            ag.agricultural_area agriculturalArea,
            ag.forestry_area forestryArea,
            accs.code scenarioCode,
            edmi.emission_mode_type emissionModeType,
            gc.concentration,
            gc.avg_concentration avgConcentration,
            ag.grid_code gridCode
        from grid_concentration gc
        inner join assess_gird ag on ag.id = gc.grid_id and ag.valid = 1 and ag.bis_code = #{bisCode}
        inner join ent_diffusion_model_info edmi
          on edmi.id = gc.info_id and edmi.valid = 1 and edmi.ent_id = #{entId}
            <if test="bisCode != null and bisCode == 'water'">
                and considering_water_env_risk = 1
            </if>
        left join accident_scenario accs on accs.id = edmi.scenario_id and accs.valid = 1
        where gc.valid = 1
    </select>
</mapper>
