<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shencai.eil.assessment.mapper.GridCalculationValueMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.shencai.eil.assessment.entity.GridCalculationValue">
        <id column="id" property="id"/>
        <result column="ent_id" property="entId"/>
        <result column="grid_code" property="gridCode"/>
        <result column="bis_code" property="bisCode"/>
        <result column="cr_cwg_s" property="crCwgS"/>
        <result column="cr_cwg_i" property="crCwgI"/>
        <result column="cr_dgw_s" property="crDgwS"/>
        <result column="cr_dgw_i" property="crDgwI"/>
        <result column="hq_cwg_s" property="hqCwgS"/>
        <result column="hq_cwg_i" property="hqCwgI"/>
        <result column="hq_dgw_s" property="hqDgwS"/>
        <result column="hq_dgw_i" property="hqDgwI"/>
        <result column="cr_s" property="crS"/>
        <result column="cr_i" property="crI"/>
        <result column="hi_s" property="hiS"/>
        <result column="hi_i" property="hiI"/>
        <result column="loss_cr" property="lossCr"/>
        <result column="loss_hi" property="lossHi"/>
        <result column="esv" property="esv"/>
        <result column="bi" property="bi"/>
        <result column="cost" property="cost"/>
        <result column="remark" property="remark"/>
        <result column="create_user_id" property="createUserId"/>
        <result column="create_time" property="createTime"/>
        <result column="update_user_id" property="updateUserId"/>
        <result column="update_time" property="updateTime"/>
        <result column="valid" property="valid"/>
    </resultMap>

    <select id="listStatisticsValueByBisType" resultType="com.shencai.eil.assessment.model.GridCalculationValueVO">
       SELECT
	ag.bis_code bisCode,
	sum(loss_cr) lossCr,
	SUM(loss_hi) lossHi,
	SUM(esv) esv,
	SUM(bi) bi,
	SUM(cost) cost
FROM
	grid_calculation_value gcv
INNER JOIN assess_gird ag ON gcv.grid_code= ag.grid_code
 and ag.ent_id = #{entId} and ag.valid = 1
        group by gcv.bis_code
    </select>
</mapper>
