<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shencai.eil.assessment.mapper.WaterDiffModelConditionMapper">

    <resultMap id="BaseResultMap" type="com.shencai.eil.assessment.entity.WaterDiffModelCondition">
        <id column="id" property="id" />
        <result column="landmark_water_type" property="landmarkWaterType" />
        <result column="pollutant_type" property="pollutantType" />
        <result column="access_type" property="accessType" />
        <result column="model_id" property="modelId" />
        <result column="remark" property="remark" />
        <result column="create_user_id" property="createUserId" />
        <result column="create_time" property="createTime" />
        <result column="update_user_id" property="updateUserId" />
        <result column="update_time" property="updateTime" />
        <result column="valid" property="valid" />
    </resultMap>

</mapper>
