<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shencai.eil.system.mapper.EnterpriseScaleDivisionMapper">

    <resultMap id="BaseResultMap" type="com.shencai.eil.system.entity.EnterpriseScaleDivision">
        <id column="id" property="id" />
        <result column="industry_id" property="industryId" />
        <result column="industry_code" property="industryCode" />
        <result column="employees_number_lower_limit" property="employeesNumberLowerLimit" />
        <result column="scale_code" property="scaleCode" />
        <result column="income_lower_limit" property="incomeLowerLimit" />
        <result column="create_user_id" property="createUserId" />
        <result column="create_time" property="createTime" />
        <result column="update_user_id" property="updateUserId" />
        <result column="update_time" property="updateTime" />
        <result column="valid" property="valid" />
    </resultMap>

</mapper>
